<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8"></meta>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"></link>
<link rel="stylesheet" href="../../css/SalesPerson.css"
	th:href="@{/css/SalesPerson.css}" type="text/css"></link>


<title>Validating Timesheets</title>


</head>
<body>
	<nav class="navbar navbar-default navbar-inverse">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
				</button>
				<a class="navbar-brand" href="#">Home</a>
				<form class="navbar-form navbar-left">
					<div class="form-group">
						<input type="text" id="searchEmp" onkeyup="searchFunction()"
							class="form-control" placeholder="Search for employers"></input>
					</div>
					<button type="submit" class="btn btn-default">Search</button>
				</form>
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="page-header form-group">
		<h2>Employer Timesheets Validation</h2>
	</div>
	<div>
		<table class="table">

			<tr>
				<th scope="col">FIRSTNAME</th>
				<th scope="col">LASTNAME</th>
				<th scope="col">VENDOR</th>
				<th scope="col">TOTAL HOURS</th>
				<th scope="col">INVOICE NUMBER</th>
			</tr>

			<tr th:each="salesPerson:${salesPersonList}">
				<td th:text="${salesPerson.firstName}"></td>
				<td th:text="${salesPerson.lastName}"></td>
				<td th:text="${salesPerson.vendor}"></td>
				<td th:text="${salesPerson.hours}"></td>
				<td th:text="${salesPerson.invoiceNumber}"></td>
				<td><button type="button" class="btn btn-info" onclick="">Verify</button></td>
				<td><button type="button" class="btn btn-danger">Update</button></td>
				<td><button type="button" class="btn btn-success">Save</button></td>
			</tr>

		</table>
	</div>
	<div>
		<script th:src="@{/js/SalesPerson.js}">
			
		</script>
	</div>
</body>
</html>

