<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	<div>
		<h1>Welcome to the Home Page!!!!</h1>
		<div>
			<p>Please enter "/AddSalesPerson" in the URL to the create the
				entries to the DB</p>
		</div>
		<div>
			<p>After adding sales persons to the DB enter "/SalesPersons" to view the list of SalesPersons</p>
		</div>


	</div>


</body>
</html>